/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

button {
    display: block;
    font-size: 22px;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: grey;  /* Grey out the button */
    color: white;           /* Text color */
    border: 1px solid #ccc; /* Optional: lighter border */
    cursor: not-allowed;    /* Show a "not allowed" cursor */
    opacity: 0.7;           /* Slight transparency */
}